/* League Spartan variable*/
@font-face {
  font-family: 'League Spartan Variable';
  src: url('/dist/assets/fonts/LeagueSpartanVariable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Museo*/
@font-face {
  font-family: 'Museo';
  src: url('/dist/assets/fonts/museo300.woff2') format('woff2'),
       url('/dist/assets/fonts/museo500.woff2') format('woff2'),
       url('/dist/assets/fonts/museo700.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

