/* MAIN NAV */
.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-inline: $margin__primary;
  padding-block: 1rem;
  margin-block-end: $margin__primary;
  width: 100vw;

  &__links {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 1.5rem;
  }
}

.nav__logo img {
  height: 3.5rem;
}

/* HERO */
.hero {
  background-color: $color__primary;
  width: 100%;
  height: 11rem;
  position: relative;

  &__stripes-left {
    position: absolute;
    top: -0.75rem;
    left: 0;

    img {
      height: 1.5rem;
    }
  }

  &__stripes-right {
    position: absolute;
    top: -0.75rem;
    right: 0;

    img {
      height: 1.5rem;
    }
  }

  &__speaker {
    position: absolute;
    bottom: -0.24rem;
    left: 22%;

    img {
      height: 14rem;
    }
  }

  &__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3.8rem;
    margin-inline: $margin__primary;


    &-title {
      display: flex;
      flex-direction: column;
      gap: 0.15rem;
      font-family: 'Museo', serif;
      font-weight: 700;
      font-size: 3rem;
      color: $color__header-title;
    }
    
    &-baseline {
      font-family: 'Maven Pro';
      font-size: 1rem;
      max-width: 22rem;
      font-weight: 300;
      line-height: 1.3;
      color: $color__card--default;
    }
  }
}