  //------------ HEADER ------------//

  // -HERO (mobile)- //
  @media screen and (max-width: $mq__mobile) {
    .hero__text-baseline {
      display: none;
    }

    .card {
      padding-block: $margin__primary;
    }

    .card-active {
      padding-inline: 0;

      &__id {
        margin-inline-start: 2rem;
      }

      &__offline {
        margin-inline: 2rem;
      }
    }
  }

  // -HERO (tablet)- //
  @media screen and (min-width: $mq__tablet) {
    .card:hover .card__thumbnail::before {
      opacity:1;
    }
    //nav//
    .nav__logo img {
      height: 5rem;
    }

    //header//
    .hero__stripes-left {
      top: -1rem;
      left: -0.7rem;
      width: 12.5rem;
      height: 2rem;

      img {
        height: 1.8rem;
      }
    }

    .hero__stripes-right {
      top: -1.2rem;
      right: 0rem;
      width: 20rem;
      height: 2rem;
    }

    .hero__speaker {
      left: 4rem;

      img {
        height: 13.6rem;
      }
    }

    .hero__text {
      left: 18rem;
      gap: 0.5rem;

      &-title {
        font-size: 2rem;
        flex-direction: row;
        gap: 0.5rem;
      }
    }

    //cards inactive//
    .speakers {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      justify-items: center;
      gap: 0rem;
    }

    .card {
      flex-direction: column-reverse;
      align-items: start;
      gap: 1rem;
      margin-block-end: 2rem;

      &__thumbnail {
        border-radius: 0;
        display: grid;
        justify-items: center;
        align-items: center;
        position: relative;
        --colorPast: 247,145,29;

        &::before {
          opacity: 0;
          transition: all .3s;
          content:"More info";
          font-family: 'League Spartan Variable',serif;
          text-transform: uppercase;
          display: grid;
          justify-content: center;
          align-content: center;
          color: $color__card--default;
          position: absolute;
          inset: 2.6rem;
          border-radius: 20rem;
          background-color: rgb(var(--colorPast));   
          align-self: center;
          justify-self: center;
          box-shadow: 0 0 0 1.3rem rgba(var(--colorPast),0.15);
        }

        img {
          max-height: 18rem;
        }
      }
    }

    //cards active//
    .card-active {
      margin-inline-start: 2rem;
      flex-direction: column;
      align-items: stretch;
      padding: 1rem;

      &__info {
        padding: 0;
        align-items: center;

        &-time {
          font-size: 0.75rem;
        }

        &-cta {
          padding-inline-start: 1.5rem;
        }
      }
    }
  }



  // -HERO (desktop)- //
  @media screen and (min-width: $mq__desktop) {

    .speakers {
      grid-template-columns: repeat(4, 1fr);
    }

    .hero__speaker {
      left: 10rem;

      img {
        height: 16rem;
      }
    }

    .hero__text {
      left: 28rem;
      gap: 0.5rem;
      top: 3rem;

      &-title {
        font-size: 2.3rem;
        flex-direction: row;
        gap: 0.5rem;
      }

      &-baseline {
        font-size: 1rem;
        max-width: 23rem;
      }
    }

  }

