@import 'reset';
@import 'fonts';
@import 'variables';
@import 'header';
@import 'footer';
@import 'form';
@import 'cards';
@import 'media-querries';

a {
  text-decoration: none;
}

p,
h1,
h2,
picture {
  margin: 0;
  padding: 0;
}

.breadcrumb {
  display: flex;
  justify-content: start;
  gap:0.3rem;
  align-items: center;
  font-family: 'Museo'; 
  font-weight: 700;
  font-size: 0.85rem;
  color:$color__primary;
  margin-block-end: $margin__primary;
  padding-inline:$margin__primary;
  padding-block-start:$margin__primary;

  &__home {
    color: $color__cta;
    font-size: 1rem;
  }
}

  /* CTA Get tickets and price */
  .cta {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translate(-50%, -50%);

    &__tickets {
      background-color: $color__cta;
      font-family: 'Maven Pro';
      font-weight: 700;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: $color__card--default;
      border-radius: 80px;
      padding: 1.75rem 2.25rem;
      box-shadow: 0 0 1rem $margin__primary $color__cta--transparent;
      text-align: center;
      width: 17rem;
      margin: auto;
    }

    &__btn {
      position: relative;
    }

    &__price {
      position: absolute;
      color: $color__card--default;
      background-color: $color__footer-bg;
      font-family: 'Maven Pro';
      font-weight: 700;
      font-size: 0.9rem;
      padding: 0.4rem 1rem;
      left: 34%;
      border-radius: 0 0 15px 15px;
    }
  }